/* Supprime bouton Maximize inconsistant */
button.window-maximize {
  display: none !important;
}

/* Adwaita font */
#browser.linux {
  font-family: sans-serif, system-ui;
}

/* Suppression bouton marque-page de la barre URL */
.BookmarkButton,
.url-bar-button.bookmark-button,
.button.bookmark-button {
  display: none !important;
}
